body {
  background-color: rgb(35 35 35) !important;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #aaa; /* or add it to the track */
}

.navbar{
  background-color: rgb(35 35 35) !important;
  color: #fff;
}

.navbar a.nav-link {
  color: #fff !important;
  text-transform: uppercase;
  padding-right: 2em!important;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px;
  font-size: 0.85em!important;
;
}
.navbar a.nav-link:hover{
  color: #ab7650!important;
}

/* //Global color */

.secondary-color{
  color: #ab7650 !important;
}

.primary-color{
  color: #fff !important;
}
