body {
  background-color: rgb(35 35 35) !important;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #aaa; /* or add it to the track */
}

html {
  scroll-behavior: smooth;
  scrollbar-width: 5px;
}

.navbar{
  background-color: rgb(35 35 35) !important;
  color: #fff;
  position:fixed;
  width: 100%;
  z-index: 100;
}

.navbar a.nav-link {
  color: #fff !important;
  text-transform: uppercase;
  padding-right: 2em!important;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px;
  font-size: 0.85em!important;
;
}
.navbar a.nav-link:hover{
  color: #ab7650!important;
}
.hamburgerView {
  justify-content: start;
}

/* //Global color */

.secondary-color{
  color: #ab7650 !important;
}

.primary-color{
  color: #fff !important;
}
.pt-3em{
  padding-top: 3em;
}
.footer{
  border-top: 1px solid #424242;
  margin-top: 2em;
  padding-top: 1em;
}
.footer img{
  width: 8vmin;
}
.footer ul{
  list-style: none;
  padding: 0 0 0 8px;

}
.footer ul li{
  float: left;
  padding-right: 0.5em;
}
.footer ul li img{
  width: 5vmin;
  height: 5vmin;
}
